h1, 
h2, 
h3, 
p {
  font-family: "Helvetica", sans-serif;
}

h1 {
font-family: Arial, Helvetica, sans-serif;
font-size: 100px;
font-weight: bold;
color:khaki;
background-image:url(https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg?_gl=1*1au8b31*_gcl_au*MTA3MjQ2NzM5MC4xNzI3MDMzMjIz*_ga*MTA3MjY3ODMxMC4xNzA1NjA3NDk3*_ga_3LRZM6TM9L*MTczMzU3Mzc3MS42Ny4xLjE3MzM1NzM3NzUuNTYuMC4w) ;
text-align: center;
}
.brush{
    background-color: mediumspringgreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color:white;

}
.frame {
background-color: lightcoral;
}
.blue{
background-color: skyblue;
}